.services{
    padding: 40px 20px;
    background-color: #333;
}
.title{
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
}
.card{
    border: 1px #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cardTitle{
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
.cardDesc{
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
} 